name: alarm_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  alarm: ^5.2.1
  cupertino_icons: ^1.0.8
  flutter_colorpicker: ^1.1.0
  hive_flutter: ^1.1.0
  hive: ^2.2.3
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  hive_generator: ^2.0.1
  build_runner: ^2.4.13

flutter:
  uses-material-design: true
  assets:
   - assets/alarm.mp3
